*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --black-text-color: #2e2f42;
  --accent-color: #4d5ae5;
  --title-text-color: #434455;
  --button-color: #e7e9fc;
  --body-color-white: #ffffff;
  --background-color-fon: #f4f4fd;
  --subtle-text-color: #8e8f99;
  --green-color: #31d0aa;
  --background-btn: #e7e9fc;
  --polycy-color: #757575;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: Roboto, sans-serif;
  background-color: var(--body-color-white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.img-block {
  display: block;
}
/* шапка  header*/
.header {
  border-bottom: solid 1px var(--title-text-color);
  background: var(--body-color-white);
  border-bottom: 1px solid var(--subtle-text-color);
}

.container {
  padding-left: 16px;
  padding-right: 16px;
}

.blue {
  color: var(--accent-color);
}

.list-link:hover {
  color: var(--title-text-color);
}

.list-link:focus::after,
.list-link:hover::after {
  opacity: 1;
}

.list-link:focus {
  color: var(--accent-color);
}

.link:hover:focus {
  color: var(--accent-color);
}

.work {
  padding-top: 0;
}

/* main-nav */

/* видалення крапок */

.list {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.our-time {
  padding-top: 96px;
  padding-bottom: 128px;
  background-color: var(--background-color-fon);
}

/* logo */
.logo {
  color: var(--black-text-color);
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.3;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 122px;
}

.blue {
  color: var(--accent-color);
}
/* приховати заголовок  */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button-hero {
  display: inline-block;
  background-color: var(--accent-color);
  min-width: 170px;
  color: var(--body-color-white);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-hero:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}

.button-hero:focus {
  background-color: #404bbf;
}

.button {
  background-color: var(--button-color);
  display: flex;
  color: var(--accent-color);
  border: 1px solid var(--button-color);
  font-family: Roboto;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  padding: 8px 16px;
  transition-property: background-color, color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover {
  color: var(--button-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.button:focus {
  color: var(--button-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
}

.mobile-menu-open {
  background-color: transparent;
  border: none;
  padding: 0;
  height: 22px;
}

.subtitle {
  margin-bottom: 0;
  margin-top: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
}

/* -----контейнер------*/

@media screen and (min-width: 480px) {
  .container {
    width: 428px;
    margin-left: auto;
    margin-right: auto;
  }

  .features-list {
    display: block;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 736px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/* -------------------- */

/* ==приховати від 0 до 767== */


@media screen and (max-width: 767px) {
  .header-nav,
  .contact,
  .card-content {
    display: none;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .main-nav {
    padding-top: 24px;
    padding-bottom: 24px;
    display: flex;
    justify-content: space-between;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  /* .team-list .item:nth-child(4n) {
    margin-right: 0px;
  } */
  .list-customer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 16px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  .customer {
    width: 190px;
    height: 88px;
  }

  .customer-link {
    display: flex;
    color: var(--subtle-text-color);
    box-sizing: border-box;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-logo {
    width: 104px;
    height: 56px;
    fill: currentColor;
  }

  .customer-link:focus,
  .customer-link:hover {
    color: var(--accent-color);
    border: 1px solid #4d5ae5;
  }
}

/* =========0-767=========== */
@media screen and (max-width: 767px) {
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: var(--body-color-white);
    transition: transform 250ms ease-in-out;
    transform: translateX(100%);
  }

  /* .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100vw;
    height: 100vh;
    max-height: 796px;
    background-color: var(--body-color-white);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateX(100%);
  } */

  .mobile-menu.is-open {
    transform: translateX(0);
  }

  .mobile-menu-container {
    position: relative;
    padding-top: 80px;
    padding-left: 40px;
    padding-bottom: 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between  }

  .menu-close-btn:hover,
  .menu-close-btn:focus {
    background-color: var(--accent-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .menu-close-btn:hover,
  .menu-close-btn:focus .modal-close-btn-icon {
    fill: #e7e9fc;
  }

  .menu-close-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    width: 24px;
    height: 24px;
    padding: 0, auto;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
  }
  .menu-nav {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    padding-left: 0;
  }

  .menu-nav-item {
    display: block;
  }

  .menu-nav-item:last-child {
    padding-bottom: 0;
  }
  .menu-link {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--black-text-color);
  }

  .akcent {
    color: var(--accent-color);
  }

  .mobile-menu .contact-menu {
    display: flex;
    row-gap: 40px;
    flex-wrap: wrap;
    }

  .mobile-menu .contact-link {
    margin-bottom: 40px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
  }

  .contact-link-tel {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    text-transform: capitalize;
    color: var(--accent-color);
    margin-bottom: 40px;
    text-decoration: none;
  }


  .contact-link:hover {
    color: var(--accent-color);
  }

  .contact-link:focus {
    font-weight: 600;
    font-size: 36px;
    line-height: 40px;
    text-transform: capitalize;
    color: #4d5ae5;
  }

  .mobile-menu .social-list {
    margin-top: 48px;
  }

  .hero {
    display: block;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--black-text-color);
    max-width: 428px;
    max-height: 423px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.7),
        rgba(47, 48, 58, 0.7)
      ),
      url(../images/Dark-bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--body-color-white);
    text-align: center;
    margin-bottom: 48px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    .section-header {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-mobile2x.jpg);
    }
  }

  .feauter-mobile-list {
    /* display: flex; */
    flex-direction: column;
    align-items: center;
  }

  .features-list > .item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }

  .features-list > .item:last-of-type {
    margin-bottom: 0;
  }

  .features-list .title-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .features-list .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list .item {
    /* display: flex;
    flex-direction: column;
    align-items: center; */

    width: 264px;
    height: 436px;
    margin-right: auto;
    margin-left: auto;
    background-color: var(--body-color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
    margin-bottom: 72px;
  }

  .team-list .item:nth-child(4n) {
    margin-bottom: 0px;
  }

  .logo-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo-footer > .logo {
    margin-right: 0;
  }

  .footer {
    background-color: var(--black-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footre-text {
    display: flex;
    flex-direction: column;
    row-gap: 72px;
    align-items: center;
  }

  .footer-title {
    display: block;
    color: var(--button-color);
    margin-top: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .footer-subtitle {
    text-align: center;
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-fon);
  }

  .footer-list {
    display: flex;
    gap: 16px;
  }

  .footer-list-item {
    background-color: var(--title-text-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-list-link {
    display: flex;
    gap: 12px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    fill: var(--body-color-white);
    padding: 12px;
  }

  .footer-list-item:hover,
  .footer-list-item:focus {
    background-color: var(--green-color);
  }
  /* =========form-footer===== */

  .footer-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footer-form-cont {
    width: 100%;
    max-width: 396px;
  }

  .footer-input {
    width: 100%;
    max-width: 396px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--black-text-color);
    color: var(--button-color);
    margin-bottom: 16px;
  }

  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
  .filtr-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-bottom: 48px;
  }
  /* section-portfolio  0-767*/
  .section-portfolio {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  
  .card-set {
    display: block;
    
  }
  .flex-element {
width: 100%;
max-width: 396px;
    background: var(--body-color-white);
    margin-bottom:48px ;
  }
  .flex-element:last-child {margin-bottom: 0;}

  .img-block {
    width: 100%;
    max-width: 396px;
    display: block;}

  /* svg icon-------------- */

  .text-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  

  

  .portfolio-list-img {
    position: relative;
    overflow: hidden;
  }

  .overley {
    position: absolute;
    color: var(--body-color-white);
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    left: 0;
    top: 0;
    background-color: rgba(77, 90, 229, 1);
    padding-left: 32px;
    padding-top: 40px;
    padding-right: 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-link {
    color: var(--title-text-color);
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-link:hover .overley,
  .portfolio-link:focus .overley {
    transform: translate(0, 0);
  }
  .portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
}






@media screen and (min-width: 768px) {
  .mobile-menu,
  .mobile-menu-open {
    display: none;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-nav-item {
    display: flex;
    position: relative;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 40px;
    padding-top: 24px;
    padding-bottom: 22px;
  }

  .header-nav-item:last-child {
    margin-right: 0;
  }

   .list-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
    color:var(--black-text-color)
  }

  .header .contact {
    display: block;
    margin-left: auto;
  }

  .contact-link {
    color: var(--title-text-color);
    text-decoration: none;
    margin-left: 40px;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .curent::after {
    content: " ";
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-color);
    border-radius: 2px;
    position: absolute;
    transition-property: opacity;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .hero {
    display: block;
    text-align: center;
    padding-top: 112px;
    padding-bottom: 112px;
    background-color: var(--black-text-color);
    max-width: 768px;
    max-height: 435px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.7),
        rgba(47, 48, 58, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }

  .hero-title {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 600;
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--body-color-white);
    text-align: center;
    margin-bottom: 48px;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.7),
          rgba(47, 48, 58, 0.7)
        ),
        url(../images/Dark-bg-tablet@2x.jpg);
    }
  }
  .list-customer {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  .customer {
    width: 168px;
    height: 88px;
  }

  .customer-link {
    display: flex;
    color: var(--subtle-text-color);
    box-sizing: border-box;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-logo {
    width: 104px;
    height: 56px;
    fill: currentColor;
  }

  .customer-link:focus,
  .customer-link:hover {
    color: var(--accent-color);
    border: 1px solid #4d5ae5;
  }
  .filtr-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    margin-bottom: 92px;
  }
  /* section-portfolio 767-1200*/
  .section-portfolio {
    padding-top: 64px;
    padding-bottom: 96px;
  }

  .portfolio-link {
    color: var(--title-text-color);
    text-decoration: none;
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .portfolio-link:hover .overley,
  .portfolio-link:focus .overley {
    transform: translate(0, 0);
  }

  .portfolio-link:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .contact-link:hover {
    color: var(--accent-color);
  }

  .portfolio-list-img {
    position: relative;
    overflow: hidden;
  }

  .overley {
    position: absolute;
    color: var(--body-color-white);
    width: 100%;
    height: 100%;
    overflow: auto;
    transform: translate(0, 100%);
    left: 0;
    top: 0;
    background-color: rgba(77, 90, 229, 1);
    padding-left: 32px;
    padding-top: 40px;
    padding-right: 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .title-list {
    color: var(--black-text-color);
    font-weight: 600;
    font-size: 20px;
    line-height: 1.2;
  }

  .card-set {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }
  .flex-element {
    flex-basis: calc((100% - 24px) / 2);
       background: var(--body-color-white);
  }

  /* svg icon-------------- */

  .text-portfolio {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 16px;
    padding-right: 16px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .features-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
    align-items: center;
  }

  .features-list > .item {
    max-width: 356px;
    display: flex;
    flex-direction: column;
    flex-basis: calc((100% - 24px) / 2);
  }

  /* .features-list > .item:nth-child(1) {
    margin-bottom: 72px;
  }

  .features-list > .item:nth-child(odd) {
    margin-right: 24px;
  } */

  .features-list .title-list {
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    margin-bottom: 8px;
  }

  .features-list .subtitle {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* підкреслення меню */

  .team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--body-color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  .team-list .item:nth-child(-n + 2) {
    margin-bottom: 40px;
  }

  .team-list .item:nth-child(4n) {
    margin-right: 0px;
  }
  .footer {
    background-color: var(--black-text-color);
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .footre-text {
    display: flex;
    row-gap: 72px;

    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

  .footer-title {
    display: block;
    color: var(--button-color);
    margin-top: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .footer-subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-fon);
  }

  .footer-list {
    display: flex;
    gap: 16px;
  }

  .footer-list-item {
    background-color: var(--title-text-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-list-link {
    display: flex;
    gap: 12px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    fill: var(--body-color-white);
    padding: 12px;
  }

  .footer-list-item:hover,
  .footer-list-item:focus {
    background-color: var(--green-color);
  }

  /* =========form-footer===== */

  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-input {
    width: 264px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--black-text-color);
    color: var(--button-color);
    margin-right: 24px;
  }

  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }

  .filtr-list {
    margin-bottom: 64px;
  }


  
}

@media screen and (min-width: 1200px) {
  .main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header {
    border-bottom: solid 1px var(--title-text-color);
    background: var(--body-color-white);
    border-bottom: 1px solid var(--subtle-text-color);
  }

  .container {
    width: 1158px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .work {
    padding-top: 0;
  }

  .header-nav-item:not(:last-child) {
    margin-right: 40px;
  }

  /* .header-nav-item:last-child{margin-right: 0;} */

 .list-link {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    text-decoration: none;
  }
  /* main-nav */
  .main-nav {
    display: flex;
    align-items: center;
  }

  .header .contact {
    display: flex;
    margin-left: auto;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-decoration: none;
  }

  .hero {
    display: block;
    text-align: center;
    padding-top: 192px;
    padding-bottom: 192px;
    background-color: var(--black-text-color);
    max-width: 1600px;
    max-height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.7),
        rgba(47, 48, 58, 0.7)
      ),
      url(../images/people-office.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
      background-image: linear-gradient(
          rgba(47, 48, 58, 0.7),
          rgba(47, 48, 58, 0.7)
        ),
        url(../images/people-office@2x.jpg);
    }

    .hero-title {
      margin-top: 0;
      margin-bottom: 0;
      font-family: "Roboto";
      font-weight: 600;
      font-size: 56px;
      line-height: 1.1;
      color: var(--body-color-white);
      text-align: center;
      margin-bottom: 48px;
    }
  }

  .card-content {
    display: flex;
    background-color: var(--background-color-fon);
    width: 264px;
    height: 112px;
    margin-bottom: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }

  .card-icon {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
  }

  .features-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
  }

  .features-list .item {
    width: 264px;
  }

  .features-list .title-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--black-text-color);
    margin-bottom: 8px;
  }

  .features-list .subtitle {
    font-weight: 400;
    }

  .work-list {
    display: flex;
    flex-wrap: wrap;
  }

  .work-list .item {
    margin-right: 24px;
  }

  .work-list .item:nth-child(3n) {
    margin-right: 0px;
  }

  /* секція наша команда */

  .our-time {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
  }

  .team-list .item {
    display: flex;

    flex-direction: column;
    align-items: center;
    background-color: var(--body-color-white);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
  }

  /* customer--------*/

  .list-customer {
    display: flex;
    gap: 20px;
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  .customer {
    width: 168px;
    height: 88px;
  }

  .customer-link {
    display: flex;
    color: var(--subtle-text-color);
    box-sizing: border-box;
    border: 1px solid var(--subtle-text-color);
    border-radius: 4px;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .icon-logo {
    width: 104px;
    height: 56px;
    fill: currentColor;
  }

  .customer-link:focus,
  .customer-link:hover {
    color: var(--accent-color);
    border: 1px solid #4d5ae5;
  }
  /* footer */
  .footer {
    background-color: var(--black-text-color);
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footre-text {
    display: flex;
    gap: 120px;
  }

  .footer-title {
    display: block;
    color: var(--button-color);
    margin-top: 16px;
    line-height: 1.5;
    margin-bottom: 0;
  }

  .footer-subtitle {
    margin-bottom: 16px;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--background-color-fon);
  }

  .footer-list {
    display: flex;
    gap: 16px;
  }

  .footer-list-item {
    background-color: var(--title-text-color);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .footer-list-link {
    display: flex;
    gap: 12px;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    fill: var(--body-color-white);
    padding: 12px;
  }

  .footer-list-item:hover,
  .footer-list-item:focus {
    background-color: var(--green-color);
  }

  /* =========form-footer===== */

  .footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-input {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    background-color: var(--black-text-color);
    color: var(--button-color);
    margin-right: 24px;
  }

  .footer-input::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    display: flex;
    align-items: center;
    letter-spacing: 0.04em;
    color: rgba(255, 255, 255, 0.6);
  }
  /* portfolio min-width -1200px */

  /* section-portfolio 1200*/
  .section-portfolio {
    padding-top: 96px;
    padding-bottom: 120px;
  }
  
  
  .card-set {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
  }
  .flex-element {
    flex-basis: calc((100% - 48px) / 3);
    background: var(--body-color-white);
  }

}

@media screen and (max-width: 1199px) {
  .work,
  .card-content {
    display: none;
  }
}

/* ================================ */

.button-hero:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}

.button-hero:focus {
  background-color: #404bbf;
}

/* team list */

.social-list {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  margin-top: 12px;
}

.link-icons:hover {
  fill: currentColor;
}

.social-list-item {
  background-color: var(--accent-color);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list-item:hover {
  background-color: var(--green-color);
}

.social-list-item:focus {
  background-color: var(--green-color);
}

.social-list-link {
  display: flex;
  gap: 12px;
  width: 40px;
  height: 40px;
  justify-content: center;
  align-items: center;
  fill: var(--body-color-white);
  padding: 12px;
}

.comands {
  padding-top: 32px;
  padding-bottom: 32px;
  text-align: center;
}

.comands > .title-list {
  margin-bottom: 8px;
}

/* Заголовки */
.heading {
  margin-top: 0;
  margin-bottom: 72px;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

/* ---------------------- */

/* .menu-nav .list {
  color: var(--black-text-color);
} */

/* section  main*/

.content {
  color: var(--black-text-color);
}

/* --------------- */

.contact-link {
  text-decoration: none;
}

.footer-button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 24px;
  gap: 16px;
  background: var(--accent-color);
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  border: none;
  cursor: pointer;
  color: var(--body-color-white);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.footer-button:focus {
  background-color: #404bbf;
}

.footer-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.button-icon {
  fill: var(--body-color-white);
}

/* =============модальне вікно ==========*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  height: 576px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 72px;
  padding-bottom: 24px;
  background-color: var(--body-color-white);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: box-shadow var(--transition);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.modal-close-btn:hover,
.modal-close-btn:focus .modal-close-btn-icon {
  fill: #e7e9fc;
}

.modal-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--background-btn);
  width: 24px;
  height: 24px;
  padding: 0, auto;
  border: solid 1px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* form */

.form-head {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--black-text-color);
}

.form {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 16px;
}

.modal-form-text {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--subtle-text-color);
}

.form-filed {
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  padding: 8px 38px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color var(--transition);
}

.form-input:focus,
.form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-input-wraper {
  position: relative;
  display: block;
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translate(0, -50%);
}

.form-filed textarea {
  padding: 8px 16px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
}

.form-message {
  width: 100%;
  height: 120px;
  resize: none;
  transition: border-color var(--transition);
}

.form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.policy {
  display: flex;
  flex-direction: column;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--polycy-color);
}

.modal-form-chek {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  margin-bottom: 24px;
}

.modal-form-chek::before {
  content: "";
  display: block;
  width: 16px;
  height: 16px;
  border: 1.25px solid #2e2f42;
  border-radius: 2px;
  cursor: pointer;
  margin-right: 8px;
}

.polycy-checkbox:checked + .modal-form-chek::before {
  background-color: var(--accent-color);
  background-image: url(../images/galka.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-size: 10px 8px;
}

.polycy-checkbox:focus + .modal-form-chek::before {
  width: 16px;
  height: 16px;
  left: 20px;
  top: 55px;
  border: 1.25px solid #404bbf;
  border-radius: 2px;
}

.button-form {
  display: inline-block;
  background-color: var(--accent-color);
  width: 170px;
  margin: 0 auto;
  color: var(--body-color-white);
  font-family: inherit;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  border: none;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-form:hover {
  background-color: var(--accent-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
}

/* =============модальне вікно ==========*/


/* ===================================== */
@media screen and (min-width:200px) and (max-width: 468px){
  .contact-link-tel{font-weight: 500;
    font-size: 8vw;
    line-height: 1.11 }
    .modal {
      max-width: 90%;
    height: auto;}
}
